# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

target/
mvnw
mvnw.cmd
.idea/
.classpath
.project
.settings/
*.iml
node_modules/
dist/
build/
logs/
